@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body {
  font-family: 'DynaPuff', cursive;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 1rem;
  -webkit-box-shadow: 0px 0px 5px 5px #333333;
  box-shadow: inset 0px 0px 5px 5px #333333;
  background: #E6621f;
  width: 80%;
  height: 80%;
}

.card {
  color: #fff;
  border: 10px outset #1b00ff;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 29px;
  max-height: max-content;
  box-shadow: inset 3px 3px 3px rgb(0 0 0), inset 3px 3px 3px rgb(0 0 0 / 100%), 3px 3px 3px rgb(0 0 0 / 100%)
}

.card button {
  margin: 1rem;
}