@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url(./notebook.jpg);
  background-position: 0px -61px;
  background-repeat: no-repeat;
  background-size: cover;
}